<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <% @reviews.each do |review| %>
  <strong>Reviews:</strong>
  <%= review.content %>
  <br>
  <strong>Rating:</strong>
  <%= review.rating %>
  <br>
  <% end %>
</p>

<td><%= link_to 'Home', restaurants_path, class: "btn btn-primary" %></td>
<td><%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></td>

